
#mango-details{
  display: flex;
  flex-wrap: wrap;
}
.details
{

 padding: 20px;
 line-height:30px;
 border-radius: 30px;
 background-color: #ffff;
 font-size: 18px;
 line-height: 32px;
 color: var(--single-pro-text-color);
 font-weight: 400;
 letter-spacing: 0.5px;
 font-family:'Poppins', sans-serif;
}
.details img{
  
  border-radius:20px;
}