 .card{
    width: 70%;
    align-items: center;
    background-image: rgb(240, 237, 237);
    background-size: cover;
    color:#090909;
    background-repeat: no-repeat;
    font-size: bold;
    
  } 
#mango-details{
  display: flex;
  flex-wrap: wrap;
}
.details
{

 padding: 20px;
 font-size: large;
 line-height:30px;
 border-radius: 30px;
}
.details img{
  margin-top: 10px;
  border-radius:20px;
}