*{
    padding: 0px;
    margin: 0px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    /* background-image: url("/white.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,body{
    height: 100%;
}
.card{
    box-shadow:1px 2px 2px 2px;
    align-items: center;
    border-radius: 20px;
    font-size: small;
    /* background-image: url("/white.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: white;
    display: flex;
    flex-wrap: wrap;

  }
.carde{
    box-shadow:1px 2px 2px 2px;
    /* background-image: url("/white.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(131, 157, 157);
    border-radius: 20px;
    
}
.carde img{
    margin-top:10px;
    border-radius:50%;

}
.details-card
{
    
    width: 55%;
    box-shadow:4px 4px 8px 8px;
    align-items: center;
    justify-content: center;
    padding:10px;
    background-image: url("/white.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card img{
    padding: 5px;
    width:150px;
    height: 150px;
    border-radius: 70px;
   
}
#mango-container{
    justify-content:center;
    gap: 40px;
    margin: 5px;
    
}

.main-list{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    /* gap: 10px; */

}
.cards img{
    border-radius:10px;
}

.login{
    
    align-items: center;
    width: 100vh;
    height: 80vh;
    padding:3%;
    border-radius:20px;
    font-size:large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: rgb(203, 212, 212); */
    
}
.form-control{
    padding: 10px 25px;
    /* border:hidden; */
    border-radius: 10px;
    font-size: large;
    
    
}


.registration{
     
    /* background-color: rgb(203, 212, 212); */
    padding: 50px;
    width: 80%;
    height: auto;
    border-radius:20px;
    align-items: center;
    padding: 10px;
    font-size: large;
    
}
.registration img{
    border-radius: 20px;
}

.banner-section{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.review-box{
    width: 70%;
    margin: auto;
    
}

.review{
    height:180px;
    width: 300px;
    text-align: center;
    background-image: url("/white.jpg");
    background-size: cover;
    background-repeat: no-repeat;;
}
 a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: black;
}

.single-mango-review-list{
    width: 90%;
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    border-radius: 20px;
}

.address_form
{
    align-items: center;
    box-shadow:4px 4px 8px 8px;
    
    padding:3%;
    margin: auto;
    border-radius:20px;
    background: linear-gradient(rgb(145, 127, 120),rgb(203, 102, 119));
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
#page{
    display: flex;
    justify-content:center;
    margin: 15px;

}
#footer
{
 
    background:linear-gradient(rgb(248, 242, 242),rgb(189, 193, 217));
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.dasboard{
    background: linear-gradient(rgb(129, 129, 206),rgb(195, 195, 120),rgb(194, 123, 123));
}
.contact{
    background-color:  #f8f8f8;
}
/* main{
   height: 100vh;
} */
.table{
    
    width: 90%; 
    margin: auto;
 }
.banner{
    margin-top: 80px;
}
.Click-btn{
    width: 1250px;
}

.cards{
    width: 80%;
    height: auto;
    /* background-color: rgb(203, 212, 212); */
    align-items: center;
    border-radius: 20px;
    font-size: small;
    /* background-image: url("/white.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    font-size: large; 
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .ratio{
    width: 40%;
    margin: auto;
  }
  
.box{
    width: 120px;
}
.card-review{
    box-shadow:1px 2px 2px 2px;
    /* background-image: url("/white.jpg");
    background-size: cover;
    background-repeat: no-repeat; */
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}
.card-review img{
    margin-top:10px;
    border-radius:50%;
}
.nav{
    display: flex;
    flex-wrap: wrap;
}

.slide-menu ul li:hover{
    background-color: rgb(121, 126, 126);
}